@media only screen and (max-width: 991px) {

  @for $i from 1 through 3 {
    .col-md-#{$i} {
      flex: $i;
    }
  }

  .md {

    &-hide {
      display: none;
    }

    &-flex {
      display: flex;
    }

    &-column {
      flex-direction: column;
    }

    &-row {
      flex-direction: row;
    }
  }
}